.contenedor{
    width: 100% !important;
    height: 100%;
    margin: 0 auto;   
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white; */
    
}

.btBack{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: flex-start;
   margin-top: 5px;
   margin-left: 5px;
}
.contenedorCard{
    margin-top: 2em;
}

.Actividades{
    width: 85%;
    margin: 0 auto;
    margin-top: 3em;
    height: auto; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
}



.actividad{
    background-color: rgb(197, 197, 235, 0.5);
    border: 0.2em solid RGB(15, 81, 9) ;
    color: black;
    width: 20%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 20px;
}

.actividad h2{
    border-bottom: 0.1em solid RGB(15, 81, 9);
    height: 15%;
    margin-top: 2%;  
}


@media(max-width: 768px){
    
.Actividades{
    width: 95%;
    margin: 0 auto;
    margin-top: 3em;
    height: auto; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
}

 
    .actividad{
    width: 45%;
  }
}







