
.contenedor{
    background-color: rgb(197, 197, 235, 0.5);
    width: 50%;
    height: auto;      
    border: 0.4em solid RGB(15, 81, 9);
    border-radius: 2em;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.card:hover{
    border:0.3em solid cadetblue;
}

.texto{
   width: 50%;
   height: 100%;
   border-right: 0.4em solid RGB(15, 81, 9);
   padding: 0.8em !important;
}

.propiedad {
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.texto h2{
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
}

.propiedad{
    margin-bottom: 1%;
}

.propiedad p{
margin-right: auto;
}

.propiedad h3{
    font-size: 1.5em;
    margin: 0 auto;
}

.imagenn{ 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenn img{
    width: 90%;
    height: auto;
}


@media(max-width: 768px){
    .contenedor{
        width: 80%;
        height: auto;      
        border: 0.3em solid RGB(15, 81, 9);
        border-radius: 2em;
        display: block;
        margin: 0 auto;
    }

    .texto{
        width: 100%;
        height: auto;
        padding: 0.4em !important;
        text-align: center;
        border-right: none;
     }
 
     .imagenn{ 
        width: 90%;
        margin: 2em auto 2em auto;
    }
      
     


}




